COMPOSE_PROJECT_NAME=texlyre # will be used as part of container names

ENVIRONMENT=production # or development

# If host names are not provided below, subdomains of this will be used.
BASE_DOMAIN=localhost

## Used for Docker port mapping
BIND_IP=127.0.0.1

## Host machine ports to be mapped to the Traefic container's exposed ones.
HTTP_PORT=19080
HTTPS_PORT=19443
TRAEFIC_PORT=19888

## To be fed into the Traefik container 
DOCKER_SOCKET=/var/run/user/1000/docker.sock

## If any of these are not set, they will be considered as subdomains of the base domain with the same names.
TRAEFIK_HOST=traefik.localhost
PORTAINER_HOST=portainer.localhost
TEXLIVE_HOST=texlive.localhost
YWEBRTC_HOST=ywebrtc.localhost
PEERJS_HOST=peerjs.localhost
FILEPIZZA_HOST=filepizza.localhost

## For SSL per https://github.com/TeXlyre/texlyre-infrastructure/blob/main/ADVANCED.md
TRAEFIK_CERTIFICATESRESOLVERS_LETSENCRYPT_ACME_EMAIL=your@email.com

## Used across multiple containers
REDIS_PORT=6379 # Redis instance will be created by FilePizza and reused by Texlive.
API_ORIGINS=* # Asterisk makes it too relaxed. You need to set it depending on how you limit CORS.

## Filepizza settings only
PEERJS_SERVERS=wss://peerjs.${PRODUCTION_DOMAIN}/texlyre/ # Remove to revert to using public signaling server (provided by peerjs) or set the link to wherever yourdomain.com points.